# ============================================
# WeilShop Frontend — Переменные окружения
# ============================================

NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# Опционально
# NEXT_PUBLIC_YANDEX_METRIA_ID=XXXXXXXXX
